<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="Resource-type" content="Document" />
        <title>MERLION Tech</title>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/fullpage.js@3.0.1/dist/fullpage.min.css">
        <link rel="stylesheet" href="/main.css" type="text/css" />
    </head>
    <body>
        <div id="react-root"></div>
        
        <script type="text/javascript" src="/commons.js"></script>
        <script type="text/javascript" src="/main.js"></script>
    </body>
</html>